## **Reading the data**

In [1]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [2]:
#to check
records

{'1001': {'Name': 'Biscuit', 'Price': 50, 'Quantity': 100},
 '1002': {'Name': 'chips', 'Price': 10, 'Quantity': 450},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 100},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 100},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 100},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 200},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 30},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 50},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 100},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 20},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 30},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1031': {'Name': 'oil', 'Price': 50, 'Quantity': 1}}

## **Billing**

In [3]:
sales={1:{'prod id':1001,'Quantity':2,'Amount':50}}

In [8]:
n=int(input("No of items:"))
print("----------------------------------------")
itemnum=1
total=0
while (itemnum<=n):  
  ui_prod  = str(input("Enter the product_Id: "))
  ui_quant = int(input("Enter the quantity: "))
  if ui_prod not in records.keys():
    print("ITEM DOES NOT EXISTS")
    print("----------------------------------------")
    itemnum+=1
  else:
    billing={}
    print("          Product: ", records[ui_prod]['Name'])
    print("          Price: ", records[ui_prod]['Price'])
    print("          Billing Amount: ", records[ui_prod]['Price'] * ui_quant)
    print("----------------------------------------")
    records[ui_prod]['Quantity'] = records[ui_prod]['Quantity'] - ui_quant
    tot_cost=(records[str(ui_prod)]["Price"]*ui_quant)
    total+=tot_cost
    itemnum+=1
    sales[len(sales)+1] = {'prod_id': ui_prod, 'Quantity': ui_quant, 'Amount':  ui_quant*records[ui_prod]['Price']}

else:
  print("TOTAL BILLING AMOUNT:",total)
  print("----------------------------------------")
  print("***************THANKYOU***************")

No of items:6
----------------------------------------
Enter the product_Id: 1006
Enter the quantity: 2
          Product:  Oil
          Price:  75
          Billing Amount:  150
----------------------------------------
Enter the product_Id: 1020
Enter the quantity: 5
          Product:  Toys
          Price:  300
          Billing Amount:  1500
----------------------------------------
Enter the product_Id: 1015
Enter the quantity: 7
          Product:  Plates
          Price:  25
          Billing Amount:  175
----------------------------------------
Enter the product_Id: 1019
Enter the quantity: 3
          Product:  Frame
          Price:  170
          Billing Amount:  510
----------------------------------------
Enter the product_Id: 1003
Enter the quantity: 1
          Product:  Shampoo
          Price:  125
          Billing Amount:  125
----------------------------------------
Enter the product_Id: 1007
Enter the quantity: 2
          Product:  Bottles
          Price:  170
          Billing Amount:  340
----------------------------------------
TOTAL BILLING AMOUNT: 2800
----------------------------------------
***************THANKYOU***************

In [9]:
records

{'1001': {'Name': 'Biscuit', 'Price': 50, 'Quantity': 100},
 '1002': {'Name': 'chips', 'Price': 10, 'Quantity': 450},
 '1003': {'Name': 'Shampoo', 'Price': 125, 'Quantity': 98},
 '1004': {'Name': 'Chocolate', 'Price': 10, 'Quantity': 1000},
 '1005': {'Name': 'Pen', 'Price': 20, 'Quantity': 98},
 '1006': {'Name': 'Oil', 'Price': 75, 'Quantity': 98},
 '1007': {'Name': 'Bottles', 'Price': 170, 'Quantity': 198},
 '1008': {'Name': 'Umbrella', 'Price': 300, 'Quantity': 25},
 '1009': {'Name': 'Graph', 'Price': 1, 'Quantity': 100},
 '1010': {'Name': 'Lipstick', 'Price': 70, 'Quantity': 47},
 '1011': {'Name': 'Comb', 'Price': 25, 'Quantity': 70},
 '1012': {'Name': 'Band', 'Price': 10, 'Quantity': 100},
 '1013': {'Name': 'Pencil', 'Price': 10, 'Quantity': 200},
 '1014': {'Name': 'Cutter', 'Price': 95, 'Quantity': 20},
 '1015': {'Name': 'Plates', 'Price': 25, 'Quantity': 93},
 '1016': {'Name': 'Hair Gel', 'Price': 200, 'Quantity': 80},
 '1017': {'Name': 'Towel', 'Price': 300, 'Quantity': 25},
 '1018': {'Name': 'Chair', 'Price': 575, 'Quantity': 10},
 '1019': {'Name': 'Frame', 'Price': 170, 'Quantity': 17},
 '1020': {'Name': 'Toys', 'Price': 300, 'Quantity': 25},
 '1021': {'Name': 'Cake', 'Price': 25, 'Quantity': 25},
 '1022': {'Name': 'Ice cream', 'Price': 10, 'Quantity': 200},
 '1023': {'Name': 'Milk', 'Price': 25, 'Quantity': 60},
 '1024': {'Name': 'Butter', 'Price': 185, 'Quantity': 30},
 '1025': {'Name': 'Paneer', 'Price': 190, 'Quantity': 25},
 '1026': {'Name': 'Mask', 'Price': 15, 'Quantity': 300},
 '1027': {'Name': 'Socks', 'Price': 170, 'Quantity': 100},
 '1028': {'Name': 'Pouch', 'Price': 30, 'Quantity': 100},
 '1029': {'Name': 'Scissors', 'Price': 90, 'Quantity': 100},
 '1031': {'Name': 'oil', 'Price': 50, 'Quantity': 1}}

In [10]:
#updating inventories after purchase
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

### **Sales Report**

In [11]:
sales

{1: {'Amount': 50, 'Quantity': 2, 'prod id': 1001},
 2: {'Amount': 40, 'Quantity': 2, 'prod_id': '1005'},
 3: {'Amount': 125, 'Quantity': 1, 'prod_id': '1003'},
 4: {'Amount': 210, 'Quantity': 3, 'prod_id': '1010'},
 5: {'Amount': 1500, 'Quantity': 5, 'prod_id': '1008'},
 6: {'Amount': 150, 'Quantity': 2, 'prod_id': '1006'},
 7: {'Amount': 1500, 'Quantity': 5, 'prod_id': '1020'},
 8: {'Amount': 175, 'Quantity': 7, 'prod_id': '1015'},
 9: {'Amount': 510, 'Quantity': 3, 'prod_id': '1019'},
 10: {'Amount': 125, 'Quantity': 1, 'prod_id': '1003'},
 11: {'Amount': 340, 'Quantity': 2, 'prod_id': '1007'}}